#calculator {
  height: 600px;
  width: 650px;
  position: relative;
  margin-top: 5rem;
  margin-left: 50vw;
  transform: translateX(-50%);
  background-color: #ccc;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: solid 1px #666;
  border-radius: 10px;
  box-shadow: 4px 8px 8px  rgba(0, 0, 0, 0.2);

  .btn {
    font-size: 2rem;
  }

  #header {
      background-color: #000000;
      padding: 40px;
      border-radius: 10px;
      // height: 70px;
    #screen {
      background-color: #000000;
      color: greenyellow;
      font-size: 3rem;
      border-radius: 10px;
      grid-row: 1 / 1;
      grid-column: 1 / 8;
    }
  }


   #main {
     grid-row: 2;
     display: grid;
     grid-template-columns: 400px 50px;
     height: 300px;

     #numbers {
       margin: 10px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 10px;
     }

     #operators {
       margin: 10px;
       display: grid;
       grid-gap: 10px;
       width: 180px;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(3, 1fr);

       #btn-equals {
        // grid-column: 1 / -1;
       }
     }
   }
}